[run]
branch = True
source = scrapy_rss
omit =
    setup.py
    tests/*

[paths]
source =
    scrapy_rss
    /home/*/scrapy_rss/scrapy_rss

[html]
directory = coverage_report 

[xml]
output = coverage.xml
