sudo: false
language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
    - "3.9-dev"
install:
    - pip install -U tox-travis codecov
script: COVERAGE_FILE=.coverage tox
after_success: codecov
