tox
pytest
pytest-xdist
pytest-cov<2.11
pytest-asyncio;python_version>="3.5"
coverage<5
xmlunittest
parameterized
packaging
enum34;python_version<"3.4"
backports.tempfile;python_version<"3.2"
frozendict
